body {
    background-image: linear-gradient(to right, pink, lightblue);
    background-blend-mode: overlay;
    background-color: #5c262654;
}

.content_div {
    margin-top:5%;
    display: flex;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.content_div_inner {
    background-color: grey;
    border-radius: 30%;
}