body {
    background-image: linear-gradient(to right, pink, lightblue);
    background-blend-mode: overlay;
    background-color: #5c262654;
}

.content_div {
    margin-top:5%;
    display: flex;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.content_div_inner {
    padding-left: 3%;
    padding-right: 3%;
    background-color: #efd12ebf;
    transition: box-shadow ease 0.5s;
}

.content_div_inner:hover {
    box-shadow: 0px 0px 10px 5px #efd12eab;
}

@keyframes content_div_inner_bordermove {
    from {border-radius:0%;}
    50% {
        border-radius:100%;
    }
    to {border-radius: 0%;}
}